body{
    background-image: url(imagens/floresta-agencia-brasil.jpg);
    background-size: cover;
}
.conteiner{
    width: auto;
    height: auto;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    'header'
    'nav'
    'main'
    'footer';
    grid-template-columns: auto;
    grid-template-rows: 100px 50px auto 100px;
}
.img-header{
    width: 100px;
    height: 100px;
    margin: 10px;
}
header{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
}
main{
    display: flex;
}
footer{
    display: flex;
}
.menu{
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: chartreuse;
    color: black;
}