*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(imagens/Desenvolvimento-de-projetos-e-montagem-de-placas-eletronicas-conheca-nossos-diferencias-1024x681.png);
    background-size: cover;
    background-attachment: fixed;
}
.conteiner{
    width: auto;
    height: auto;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    'header'
    'nav'
    'main'
    'footer';
    grid-template-columns: auto;
    grid-template-rows: 100px 50px auto 100px;
}
.img-header{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 100%;
}
.centralizar,.Rcenter{
    display: flex;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}
header{
    grid-area: header;
    display: flex;
}
nav{
    margin: 10px;
    grid-area: nav;
    background-color: rgb(36, 49, 38);
}
.menu{
    display: flex;
}
main{
    grid-area: main;
    display: flex;
    align-items: center;
}
footer{
    grid-area: footer;
    display: flex;
    background-color: rgb(36, 49, 38);
}
.menu1{
    margin: 10px;
    border: 2px solid rgb(117, 117, 129);
    background-color: rgb(29, 26, 26);
    color: white;
    display: flex;
}
svg,h4{
    margin: 5px;
}
.Imain{
    margin: 20px;
    width: 50vh;
    height: 50vh;
    border-radius: 10px;
}
.Cmain{
    background-color: white;
    width: 135vh;
    height: 50vh;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
}
.Rsocial{
    border: white solid 1px;
    height: 50px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
}